<div class="content-box">
	<div id="show_projects" class="padded30">
		<button type="button" class="app-btn" id="create_project">
			<span>Create New </span>
		</button>
		<br/><br/>
		<div class="scrollmessage alert alert-success" style="display:none;">
			<span class="message-box">
			</span>
		</div>
		<table class="table table-hover table-bordered ">
		    <thead>
		      <tr>
		        <th>Project name</th>
		        <th>Date created</th>
		        <th>Status</th>
		        <th>Action</th>
		      </tr>
		    </thead>
		    <tbody>
		    <% _.each(projects, function(project) { %>
		      <tr>
			    	<td> <a href="#<%= cloudType %>/project/<%= project.id %>"><%= project.name %> </a></td>
		        	<td><%= project.date %></td>
		        	<td><%= project.status %></td>
		        	<td> <button class="apply-action app-btn" id="<%= project.id %>" <% if(project.status == 'ACTIVE') {%> disabled='disabled' <%}%> >Apply</button></td>
		      </tr>
				<% }); %>
		    </tbody>
	   </table>
	</div>
	<div id="new_project_div" style="display:none" class="padded30">
	 <h3 class="panelTitle "> Create new Project</h3>
		<div class="form-horizontal">
			<div class="form-group">
				<label class="control-label col-sm-2" for="projectName">Name <span style="color: red">*</span> :</label>
				<div class="col-sm-3">
					<input type="email" id="new_project_name" class="form-control" placeholder="Project name" required="required"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2">Cloud:</label>
				<div class="col-sm-10">
					<h4> <span class="label label-primary"> <%= cloudType %></span> </h4>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button id="new_project_save" type="button" class="app-btn active save">Save</button>
					<a id="new_project_cancel"  class="btn btn-link cancelbtn" type="reset">Cancel</a>
				</div>
			</div>
		</div>
	</div>
</div>
