
<div class="content-box">
	 <header class="panel_header">
	     <h3 class="title pull-left">AWS Provider</h3>
	 </header>
	 <div class="content-body">
		<form class="form-horizontal" id="provider-form">
		  <div class="form-group">
		    <label class="control-label col-sm-2" for="name">Name:</label>
		    <div class="col-sm-5">
		      <input type="text" class="form-control" id="provider-name" name="provider-name" placeholder="Enter name">
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="control-label col-sm-2" for="region">Region:</label>
		    <div class="col-sm-5"> 
		      <input type="text" class="form-control" id="provider-region" name="provider-region" placeholder="Enter region">
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="control-label col-sm-2" for="ami">AMI:</label>
		    <div class="col-sm-5"> 
		      <input type="text" class="form-control" id="provider-ami" name="provider-ami" placeholder="Enter AMI">
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="control-label col-sm-2" for="instanceType">Instance type:</label>
		    <div class="col-sm-5"> 
		      <input type="text" class="form-control" id="provider-instanceType" name="provider-instanceType" placeholder="Enter instance type">
		    </div>
		  </div>
		</form>
	</div>
</div>