
<div class="content-box">
	 <header class="panel_header">
	     <h3 class="title pull-left">AWS Key Pair</h3>
	     <div class="actions panel_actions pull-right">
	     	<a id="<%=prefix%>_box" class="box_toggle  fa fa-chevron-down"></a>
	     </div>
	 </header>
	 <div class="content-body" >
		<form class="form-horizontal" id="<%=prefix%>-form">
		  <div class="form-group">
		    <label class="control-label col-sm-2" for="name">Name:</label>
		    <div class="col-sm-5">
		      <input type="text" class="form-control" id="<%=prefix%>-name" name="<%=prefix%>-name" placeholder="Enter name">
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="control-label col-sm-2" for="pubKey">Public key:</label>
		    <div class="col-sm-5"> 
		      <input type="text" class="form-control" id="<%=prefix%>-pubKey" name="<%=prefix%>-pubKey" placeholder="Enter public key">
		    </div>
		  </div>
		</form>
	</div>
</div>